//Define variable
$font-stack:    'Roboto', sans-serif;

html {
  position: relative;
  min-height: 100%;
}
body {
  background: #f5f5f5;
  margin: 0;
  height: 100%;
  color: #2C2C2C;
  font-family: $font-stack;
  font-weight: 400;
  min-height: 100vh;
  flex-direction: column;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.3rem;
}
p {
  padding: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2C2C2C;
  margin-top: 10px;
}
/* img {
    height: auto;
    max-width: 100%;
} */
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #2C2C2C;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}
//a:hover, a:focus {
//  text-decoration: none;
//  color: #299a9a;
//}
//:: -moz-selection {
//  color: #299a9a;
//  text-shadow: none;
//  background: #2B2E31;
//}
//:: selection {
//  color: #299a9a;
//  text-shadow: none;
//  background: #2B2E31;
//}

dt {
  float: left;
  margin-right: 10%;
  max-width: 40%;
  font-weight: bold;
}

dd {
  color: grey;
  margin-left: 50%;
  margin-bottom: .5em;
}

dd::after {
  content: " ";
  display: block;
  clear: left;
}

strong {
  font-weight: 700;
}

mark {
  background: #fff2c3;
  color: inherit;
  padding: 2px;
}

.no-margin {
  margin: 0 !important;
}

.no-bold {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.mbth5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mbth10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mbth20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mbth30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mbth40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mbth50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mbth60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.mbth70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.mbth80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mtop10 {
  margin-top: 10px;
}
.mtop20 {
  margin-top: 20px;
}
.mtop30 {
  margin-top: 30px;
}
.mtop40 {
  margin-top: 40px;
}
.mtop50 {
  margin-top: 50px;
}
.mtop60 {
  margin-top: 60px;
}

.mbtm0 {
  margin-bottom: 0px;
}
.mbtm10 {
  margin-bottom: 10px;
}
.mbtm20 {
  margin-bottom: 20px;
}
.mbtm30 {
  margin-bottom: 30px;
}
.mbtm40 {
  margin-bottom: 40px;
}
.mbtm50 {
  margin-bottom: 50px;
}
.mbtm60 {
  margin-bottom: 60px;
}

.mleft15 {
  margin-left: 15px;
}

.pall20 {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex.row > [class*='col'] {
  display: flex;
  flex-direction: column;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.v-wrap {
  display: table !important;
  min-height: 65vh;
  width: 100%;
}

.v-center {
  //display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.single-stat {
  height: 125px;
  line-height: 125px;
  text-align: center;
}

.single-stat span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.single-stat .number {
  font-size: 40px;
}

.single-stat .numbertext {
  font-size: 16px;
}

.full-width {
  width: 100%;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: block;
}

.null-form {
  display: inline-block;
}

.null-btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.null-btn:active, .null-btn:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

#delete-confirmation {
  max-width: 300px;
  top: 30% !important;
}

/* Modifications for Elements */
.wide-container {
  margin: 0 auto;
  width: 95%;
}

.mini-container {
  margin: 0 auto;
  width: 90%;
}

.alt-badge {
  font-size: 1rem;
  line-height: inherit;
  padding: 4px 8px;
  box-sizing: border-box;
  font-weight: 300;
  color: #fff;
  border-radius: 2px;
  background-color: #BFBFBF;
}

.alt-badge2 {
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  line-height: 22px;
  height: 22px;
}

.alt-badge.mini-padding {
  padding: 2px 4px;
}

:root:root .card-panel .card-input {
  border: 0;
  margin: 0;
  padding: 5px;
  padding-left: 20px;
  font-size: 1.2em;
}

:root:root .card-panel .card-input:focus {
  border: 0;
  box-shadow: none;
}

.prefix-inline {
  position: absolute;
  top: 10px;
  font-size: 1.1rem;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.input-field .prefix-inline ~ input {
  padding-left: 22px;
  width: calc(100% - 22px);
}

.helper-text.manual-validation {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.helper-text.manual-validation::after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

/* Selectize */

.selectize-control {
  margin-top: 1px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  font-size: 1rem;
}

.selectize-control.single .selectize-input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  padding-left: 0;
  height: 3rem;
}

.selectize-control.single .selectize-input input {
   height: 2.8rem;
   border: none;
   outline: none;
   background-color: transparent;
 }

.selectize-control.single .selectize-input .item {
  display: inline-block;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-left: 4px;
}

.selectize-control.multi .selectize-input .item {
  background-color: #eaeaea;
  padding: 0.5rem;
  height: 2rem;
  line-height: 1rem;
  margin-top: 0.6rem;
}

.selectize-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position: absolute;
  background-color: #ffffff;
  z-index: 12;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
  min-height: 50px;
  line-height: 50px;
  padding: 0 8px;
  cursor: pointer;
}

.selectize-dropdown [data-selectable].active {
  background-color: #f1f1f1;
}

.selectize-control.valid .selectize-input {
  border-bottom: 1px solid #4CAF50;
  -webkit-box-shadow: 0 1px 0 0 #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

.selectize-control.invalid .selectize-input {
  border-bottom: 1px solid #F44336;
  -webkit-box-shadow: 0 1px 0 0 #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

.selectize-control.invalid ~ .helper-text:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
  margin-top: 8px;
}

/* Accents */

.theme-text {
  color: #299a9a !important;
}

.sidenav-trigger {
  color: #000000;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #299a9a;
}

.pagination li.active {
  background-color: #299a9a;
}

.btn-theme {
  background-color: #299a9a;
}

.btn-theme:hover, .btn-theme:focus {
  background-color: #299a9a;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-link {
  background-color: #299a9a !important;
}

.btn-link:hover, .btn-link:focus {
  background-color: #42a5f5;
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(200, 200, 200, 0.18), 0 4px 15px 0 rgba(200, 200, 200, 0.15);
}

.btn-link-minimal {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  text-align: center;
}

.btn-link-minimal:hover, .btn-link-minimal:focus {
  color: #000;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-link-minimal i {
  line-height: 30px;
  padding: 4px 0;
  vertical-align: bottom;
}

:root:root:root .btn-floating:hover {
  background-color: #e57373 !important;
}

.btn-facebook {
  color: #f7f7f7;
  background-color: #3b5998;
}

.btn-facebook:hover, .btn-facebook:focus {
  color: #f7f7f7;
  background-color: #3b5998;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.tabs .tab a {
  color: #4da6a6;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #4da6a6;
}

.tabs .indicator {
  background-color: #4da6a6;
}

.collection .collection-item.active {
  background-color: #4da6a6;
  color: #fff;
}

.collection a.collection-item {
  color: #000;
}

.dropdown-trigger + .dropdown-content li > a, .dropdown-trigger + .dropdown-content li > span {
  color: #000;
}

[type="radio"]:checked + label:after {
  border: 2px solid #299a9a;
  background-color: #299a9a;
}

:root input:not([type]):focus:not([readonly]), :root input[type=text]:focus:not([readonly]), :root input[type=password]:focus:not([readonly]), :root input[type=email]:focus:not([readonly]), :root input[type=url]:focus:not([readonly]), :root input[type=time]:focus:not([readonly]), :root input[type=date]:focus:not([readonly]), :root input[type=datetime-local]:focus:not([readonly]), :root input[type=tel]:focus:not([readonly]), :root input[type=number]:focus:not([readonly]), :root input[type=search]:focus:not([readonly]), :root textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #299a9a;
  box-shadow: 0 1px 0 0 #299a9a;
}

:root input:not([type]):focus:not([readonly]) + label, :root input[type=text]:focus:not([readonly]) + label, :root input[type=password]:focus:not([readonly]) + label, :root input[type=email]:focus:not([readonly]) + label, :root input[type=url]:focus:not([readonly]) + label, :root input[type=time]:focus:not([readonly]) + label, :root input[type=date]:focus:not([readonly]) + label, :root input[type=datetime-local]:focus:not([readonly]) + label, :root input[type=tel]:focus:not([readonly]) + label, :root input[type=number]:focus:not([readonly]) + label, :root input[type=search]:focus:not([readonly]) + label, :root textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #299a9a;
}

/* Element Modifications */

.input-field label.label-validation {
  /*width: 99%;*/
  /*top: 1.1rem;*/
  /*font-size: 0.95rem;*/
  /*transform: translateY(-140%);*/
  font-size: 1.1rem;
  -webkit-transform: translateY(-14px) scale(0.8);
  transform: translateY(-14px) scale(0.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  top: 3px;
}

textarea.materialize-textarea + label:after {
  top: 0;
  margin-left: 10px;
  display: inline-block;
}

input[type=text].input-label-text + label:after {
  content: attr(data-default);
  color: #000;
  opacity: 1;
}

input[type=text].input-label-text.invalid + label:after {
  content: attr(data-error) !important;
  color: #F44336;
}

.datepicker-controls .select-month input {
  width: 90px;
}

textarea + label:after {
  top: 0;
  display: inline-block;
}

textarea.invalid + label:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
}

textarea.valid + label:after {
  content: attr(data-success);
  color: #4CAF50;
  opacity: 1;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #299a9a;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #299a9a;
}

#toast-container .toast {
  cursor: pointer;
}

.toast.success, .alt-badge.success {
  background-color: #00c853;
}

.toast.error, .alt-badge.error {
  background-color: #d50000;
}

.toast.warning, .alt-badge.warning {
  background-color: #ffab00;
}

.toast.info, .alt-badge.info {
  background-color: #0091ea;
}

.input-field {
  margin-bottom: 0px;
}

.input-field .character-counter {
  position: absolute;
  right: 12px;
}

.input-field .helper-text {
  position: absolute;
  width: 100%;
}

/* Fonts */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Header */
nav {
  background-color: #fff;
  height: 80px;
}

nav a {
  color: #fff;
}

nav .logo {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 80px;
}

nav .logo img {
  padding: 5px;
  margin-top: 5px;
  max-height: 70px;
  max-width: 100%;
}

nav .logo h6 {
  display: inline-block;
}

nav ul {
  line-height: 80px;
}

nav ul a {
  color: #000;
}

nav ul li.active a {
  border-bottom: 3px solid #198f9f;
}

nav .signout-btn {
  font-size: 16px;
  color: #000;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
  width: 100%;
  text-align: left;
}

nav .sidenav-trigger i {
  height: 80px;
  line-height: 80px;
  font-size: 28px;
}

.sidenav li > a {
  font-weight: normal;
}

.sidenav li > a > i.material-icons {
  font-size: 30px;
  color: #fff;
  margin: 0px;
}

.sidenav hr {
  margin: 0;
}

.sidenav .signout-mobile-btn {
  width: 100%;
  padding: 0 32px;
  line-height: 50px;
  text-align: left;
}

.fixed-action-btn.toolbar ul li .null-btn {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  line-height: 56px;
  z-index: 1;
}

.fixed-action-btn.toolbar ul li .null-form {
  width: 100%;
}

/* Footer */
footer.page-footer {
  margin-top: 0;
  background-color: #299a9a;
}

footer.page-footer .footer-main {
  padding: 20px;
  min-height: 250px;
}

footer.page-footer .footer-main .google-download, footer.page-footer .footer-main .apple-download {
  text-align: center;
}

footer.page-footer .footer-main .google-download img, footer.page-footer .footer-main .apple-download img {
  max-height: 55px;
  max-width: 100%;
}

footer.page-footer .footer-main p {
  font-size: 1.2em;
  padding-bottom: 20px;
}

footer.page-footer .footer-main p img {
  max-height: 150px;
  max-width: 100%;
}

footer.page-footer .footer-main ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

footer.page-footer .footer-main ul li {
  padding: 5px 0;
}

footer .footer-totop {
  position: absolute;
  width: 80px;
  text-align: center;
  top: 40px;
  right: 30px;
}

footer .footer-totop a {
  color: #fff;
  font-size: 2.5em;
}

footer .footer-totop .totop-link {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}

footer .footer-totop .totop-link i {
  display: block;
  margin-top: 4px;
}

footer .footer-follow {
  color: #000;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

footer .footer-follow ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 20px;
  font-size: 1.3em;
}

footer .footer-follow ul li i {
  display: block;
  margin-top: 6px;
}

footer .footer-follow p {
  color: #fff;
  padding: 15px;
}

footer.page-footer .footer-copyright {
  height: 200px;
  position: relative;
  background-color: #4da6a6;
}

/* Everything Else */
label.rbtn-label {
  display:block;
  width: 100%;
  font-size: 0.88rem;
}

.rbtn {
  display: inline-block;
  margin-right: 15px;
}

label.rbtn-label:after {
  display: block;
  content: "";
  position: absolute;
  opacity: 0;
  transition: .2s opacity ease-out, .2s color ease-out;
}

label.rbtn-label.valid:after {
  content: attr(data-success);
  color: #4CAF50;
  opacity: 1;
  margin-top: 30px;
}

label.rbtn-label.invalid:after {
  content: attr(data-error);
  color: #F44336;
  opacity: 1;
  margin-top: 30px;
}

.intl-tel-input {
  margin: 0 0 8px 0;
  width: calc(100% - 56px);
}

.intl-tel-input ~ .helper-text[data-error] {
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.intl-tel-input ~ .helper-text.invalid[data-error]:after {
  content: attr(data-error);
  color: #F44336;
}

.intl-tel-input .flag-container {
  outline: none;
}

.intl-tel-input .selected-flag {
  outline: none;
}

/* Sign In Page */
.login-container {
  position: relative;
  width: 320px;
  margin: 220px auto 140px;
  padding: 30px 40px 40px;
  text-align: center;
  background: #fff;
}
.login-container label {
  text-align: left;
}
.login-container .avatar{
  width: 150px;
  height: 150px;
  margin: 10px auto 25px;
}
.login-container .rembme {
  display: block;
  margin-top: -30px;
  margin-left: -10px;
  text-align: left;
  padding: 20px 0;
}

/* Main */

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fafafa;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #888888;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, .075);*/
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.content-area-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.content-area-container .content-area {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}

.content-area {
  padding: 20% 10%;
}

.content-area h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: 3.3s;
  -moz-transition: 3.3s;
  transition: 3.3s;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.content-area h5:hover {
  margin-left: -100%;
}

.content-area label {
  display: block;
  font-size: 1.5em;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: 3.3s;
  -moz-transition: 3.3s;
  transition: 3.3s;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}

.content-area label:hover {
  margin-left: -100%
}

/* Media Queries */

nav .button-collapse i {
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  color: #000;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
    line-height: 80px;
  }

  nav .nav-wrapper i {
    font-size: 30px;
  }
  .force-image-size {
    height: 170px;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
  img.force-image-size {
    height: 240px;
  }
}

@media only screen and (min-width: 993px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
  img.force-image-size {
    height: 310px;
  }
}

@media only screen and (min-width: 1200px) {
  img.force-image-size {
    height: 360px;
  }
}